@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  font-family: 'Nunito', sans-serif !important;
  //font-family: 'Roboto Mono', monospace !important;
}

:root {
  --cooltipz-bg-color: #111827 !important;
  --cooltipz-border-color: #111827 !important;
  --cooltipz-font-family: 'Inter', 'Nunito', 'sans-serif' !important;
  --cooltipz-border-radius: 0.4rem !important;
}

[aria-label][class*='cooltipz']:after,
[aria-label][data-cooltipz-dir]:after {
  font-weight: 500 !important;
  padding: 0.2em 1em !important;
}
