<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <!-- Include common CSS, JavaScript, or other assets -->
</head>
<body>
<header>
</header>

<nav>
</nav>

<main>
    <h3>{{ .Data.Prop1 }}</h3>
    {{ .Body }}
</main>

<footer>

</footer>
</body>
</html>
